header.header
    ul.address__list
        li.address__item.address__item-vk
            a(href="https://vk.com/toradora_anime" title="vk").address__item__link vk
        li.address__item.address__item-gh
            a(href="https://github.com/FeerAlex" title="github").address__item__link gh
        li.address__item.address__item-in
            a(href="https://www.instagram.com/junyks/" title="instagram").address__item__link in